<h2>Python data types and variables</h2>
<span>Python data types and variables  </span>

In [ ]:
x=1
y=2
z=x+y
print(z)

In [5]:
#this is a comment line
a,b,c=3,4,44

In [6]:
print(a,b,c)

3 4 44

In [ ]:
# this is a coment line

In [3]:
'''
muliline
comment in 
python
'''

'\nmuliline\ncomment in \npython\n'

In [4]:
"""
muliline
comment in 
python
"""

'\nmuliline\ncomment in \npython\n'

In [16]:
a=223
print(a)
type(a)

223

int

In [17]:
a=34.44
print(a)
type(a)

34.44

float

In [18]:
a='p'
print(a)
type(a)

p

str

In [19]:
a='nilay'
print(a)
type(a)

nilay

str

In [20]:
a="pune"
print(a)
type(a)

pune

str

In [21]:
a=True
print(a)
type(a)

True

bool

In [15]:
a=2
a=3.3
a

3.3

<h2>Printing text and variables in python</h2>
<span>Python data types and variables  </span>

In [23]:
print("hello, welcome")

hello, welcome

In [24]:
print(x)

1

In [25]:
print("the value of x is ",x)

the value of x is  1

In [26]:
print("the value of x is ",x," and y is ",y )

the value of x is  1  and y is  2

In [27]:
name="nilay"
city="pune"
print(f"{name} lives in {city}")

nilay lives in pune

In [1]:
a=99
print("a is ",a)

a is  99

In [2]:
a=99
print(f"a is {a}")

a is 99

In [30]:
x=4
print(f" x is {x} and x^2  {x*x} and x 10 times is {x*10}")

 x is 4 and x^2  16 and x 10 times is 40